@import "../styles/variables.scss";

.progressBar {
  margin-top: 2em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .progressSquareOff {
    width: 15px;
    height: 20px;
    background-color: #f3f3f3;
  }
  .progressSquareOn {
    width: 15px;
    height: 20px;
    background-color: $color-main-color;
  }
  .progressLineOn {
    display: inline-block;
    width: 100%;
    border: none;
    border-top: 5px solid $color-main-color;
  }
  .progressLineOff {
    display: inline-block;
    width: 100%;
    border: none;
    border-top: 5px solid #f3f3f3;
  }
}
